.grid {
  display: grid;
}

.grid-col-span-2 {
  grid-column: span 2;
}

* {
  margin: 0;
  padding: 0;
  font-family: League Spartan;
  font-weight: 700;
}

*, :after, :before {
  box-sizing: border-box;
}

.attribution {
  text-align: center;
  z-index: 5000;
  margin-bottom: .25rem;
  font-size: .75rem;
  position: absolute;
  inset: auto 0 0;
}

.attribution a {
  color: #3e52a3;
}

body {
  width: 100vw;
  height: 100vh;
  place-items: center;
  display: grid;
}

button, input {
  outline: none;
}

main {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

@media screen and (max-width: 600px) {
  main {
    width: 90%;
  }
}

.keypad {
  border-radius: .5rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1.5rem 2rem;
}

.keypad button {
  text-transform: uppercase;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .keypad {
    gap: .75rem;
    padding: 2.5rem 1rem;
  }
}

.key {
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: .5rem;
  align-items: center;
  padding: .75rem .5rem;
  font-size: 1.25rem;
  transition: background-color .3s;
  display: flex;
}

.key.num {
  font-size: 32px;
}

@media screen and (max-width: 600px) {
  .key {
    padding: 1rem .1rem;
  }
}

.key.action-key, .key.eval-key {
  font-size: 1.25rem;
}

header {
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
}

header h3.title {
  text-transform: lowercase;
  margin-right: auto;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  header h3.title {
    font-size: 2.5rem;
  }
}

header small {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .75rem;
}

@media screen and (max-width: 600px) {
  header small {
    font-size: 1rem;
  }
}

.toggle-container {
  place-content: center;
  place-items: center;
  display: flex;
}

.toggle-container span {
  text-align: center;
  width: 100%;
}

.toggler-labels {
  justify-content: space-around;
  margin-bottom: .25rem;
  display: flex;
}

.toggler {
  --width: 4.5rem;
  --height: calc(var(--width) / 3);
  --border-radius: calc(var(--height) / 2);
  cursor: pointer;
  display: inline-block;
}

.toggler .toggler-btn {
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  border: none;
  position: relative;
}

.toggler .toggler-btn:after {
  content: "";
  margin-top: calc(var(--height) * .2);
  height: calc(var(--height) / 1.5);
  width: calc(var(--height) / 1.5);
  border-radius: var(--border-radius);
  background-color: #000;
  margin-left: .25rem;
  transition: transform .2s;
  position: absolute;
  top: 0;
  left: 0;
}

.screen {
  width: 100%;
  pointer-events: none;
  text-align: right;
  vertical-align: middle;
  border: none;
  border-radius: .5rem;
  padding: 1.25rem .75rem;
  font-size: 2.25rem;
}

.theme1 body {
  background-color: #3a4764;
}

.theme1 .attribution {
  color: #fff;
}

.theme1 .attribution a {
  color: #eae3dc;
}

.theme1 header h3.title, .theme1 header small, .theme1 .toggler-labels {
  color: #fff;
}

.theme1 .screen {
  color: #fff;
  background-color: #182034;
}

.theme1 .keypad, .theme1 .toggler-btn {
  background-color: #232c43;
}

.theme1 .toggler-btn:hover:after {
  background-color: #e38c82;
}

.theme1 .toggler-btn:after {
  background-color: #d03f2f;
  transform: translateX(0%);
}

.theme1 .key {
  color: #444b5a;
  background-color: #eae3dc;
  box-shadow: 0 .25rem #b4a597;
}

.theme1 .key:hover {
  background-color: #fff;
}

.theme1 .action-key {
  color: #fff;
  background-color: #637097;
  box-shadow: 0 .25rem #404e72;
}

.theme1 .action-key:hover {
  background-color: #a2afd8;
}

.theme1 .eval-key {
  color: #fff;
  background-color: #d03f2f;
  box-shadow: 0 .25rem #93261a;
}

.theme1 .eval-key:hover {
  background-color: #e35d4f;
}

.theme2 body {
  background-color: #e6e6e6;
}

.theme2 .attribution {
  color: #35352c;
}

.theme2 .attribution a {
  color: #ca5502;
}

.theme2 header h3.title, .theme2 header small, .theme2 .toggler-labels {
  color: #35352c;
}

.theme2 .screen {
  color: #35352c;
  background-color: #ededed;
}

.theme2 .keypad, .theme2 .toggler-btn {
  background-color: #d1cccc;
}

.theme2 .toggler-btn:hover:after {
  background-color: #fd8835;
}

.theme2 .toggler-btn:after {
  background-color: #ca5502;
  transform: translateX(150%);
}

.theme2 .key {
  color: #35352c;
  background-color: #e5e4e1;
  box-shadow: 0 .25rem #a69d91;
}

.theme2 .key:hover {
  background-color: #fff;
}

.theme2 .action-key {
  color: #fff;
  background-color: #377f86;
  box-shadow: 0 .25rem #1b5f65;
}

.theme2 .action-key:hover {
  background-color: #75c0c7;
}

.theme2 .eval-key {
  color: #fff;
  background-color: #ca5502;
  box-shadow: 0 .25rem #893901;
}

.theme2 .eval-key:hover {
  background-color: #fd8835;
}

.theme3 body {
  background-color: #160628;
}

.theme3 .attribution {
  color: #fff;
}

.theme3 .attribution a {
  color: #00e0d1;
}

.theme3 header h3.title, .theme3 header small, .theme3 .toggler-labels {
  color: #ffe53d;
}

.theme3 .screen {
  color: #ffe53d;
  background-color: #1d0934;
}

.theme3 .keypad, .theme3 .toggler-btn {
  background-color: #1d0934;
}

.theme3 .toggler-btn:hover:after {
  background-color: #47fff3;
}

.theme3 .toggler-btn:after {
  background-color: #00e0d1;
  transform: translateX(300%);
}

.theme3 .key {
  color: #ffe53d;
  background-color: #341c4f;
  box-shadow: 0 .25rem #871c9c;
}

.theme3 .key:hover {
  background-color: #672aac;
}

.theme3 .action-key {
  color: #fff;
  background-color: #58077d;
  box-shadow: 0 .25rem #bc15f4;
}

.theme3 .action-key:hover {
  background-color: #9c0dde;
}

.theme3 .eval-key {
  color: #1b2428;
  background-color: #00e0d1;
  box-shadow: 0 .25rem #6cf9f2;
}

.theme3 .eval-key:hover {
  background-color: #61fff4;
}

@media (prefers-reduced-motion) {
  *, :after, :before {
    transition-duration: 1ms !important;
    transition-timing-function: unset !important;
    transition-delay: 1ms !important;
  }
}

/*# sourceMappingURL=index.3a01df49.css.map */
